// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 30%;
  margin: 5vh auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form {
  margin: 5vh 0;
}

input {
  padding: 5px 1rem;
}

a {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: bisque;
  text-decoration: none;
}